.btn {
    width: 311px;
    height: 34px;
    background-color: var(--bs-green);
    color: var(--bs-white);
    opacity: 0.28;
    border: 1px solid var(--bs-green);
}

.active {
    background-color: var(--bs-green);
    opacity: 1;

}